extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous inscrivez les frais annexe du deplacement effectué
        .page-header


        .lead
        form.form-horizontal(action="/frais", method="post")
            h4 Vos informations :
            p Motif du trajet : #{M}
            p Trajet : #{vD} à #{vA}
            p Kilométrage : #{kl}
            p Le cout est estimé à : #{c}

            h4 Frais supplémentaires :
            div
                label Montant Total Péage:
                input(type="number", name="montantPéage", value="0", min="0")
            div
                label Montant Total Repas:
                input(type="number", name="montantRepas", value="0", min="0")
            div
                label Montant Total Hébergement:
                input(type="number", name="montantHébergement", value="0", min="0")
            div
                input(type="submit", value="Valider")



