extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous inscrivez les frais de deplacement effectué
        .page-header


        .lead
            form.form-horizontal(action="/frais/verification", method="post")
                div
                    label= "Motifs de déplacement :"
                    input(type="text", name="motif")
                div
                    label="Date du déplacement : "
                    input(type="date", name="date")
                div
                    label= "Ville de départ :"
                    input(type="text", name="villeD")
                div
                    label= "Ville d'arrivé :"
                    input(type="text", name="villeA")
                div
                    label= "Km parcourus :"
                    input(type="text", name="parcourus")
                div
                    input(type="submit", value="Valider")
