extends layout

block append body
    div(class='container')
        p liste des deplacements
        ul
            each deplacement in lesDeplacements
                li='motif : ' + deplacement.motif
                li=deplacement.dateDeplacement
                li='De ' + deplacement.villeA + ' à ' + deplacement.villeD
                li='Cout du trajet : ' + deplacement.cout + '€'
                li="Frais d'hébergement : " + deplacement.fraisHebergement
                li="Frais de repas : " + deplacement.fraisRepas
                li="Frais de péage : " + deplacement.fraisPeage
                br