extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            form.form-horizontal(action="/users/signUp", method="post")
                div
                    label= "Nom*: "
                    input(type= "text", name="nom")
                div
                    label= "Prenom*: "
                    input(type="text", name="prenom")
                div
                    label= "Adresse*: "
                    input(type= "text", name="adresse")
                div
                    label= "E-mail*: "
                    input(type="text", id="newEmail", name="eMail")
                div
                    label= "Telephone: "
                    input(type="text", name="telephone")
                div
                    label= "Username*: "
                    input(type="text", id="newUsername" , name="newUsername")
                div
                    label= "Password*: "
                    input(type="password", id="newPassword", name="Password")
                div
                    i Les champs marqués d'une étoile sont obligatoires
                div
                    input(type="submit", value="Sign Up")
                if(MessageSign)
                    p(style={color: 'red'}) #{MessageSign}