extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous verifiez les frais de deplacement effectué
        .page-header


        .lead
            h1 Vérifiez vos informations :
            p Motif du trajet : #{motif}
            p Trajet : #{villeA} à #{villeD}
            p Kilométrage : #{kiloM}
            p Le cout est estimé à : #{cout}

            a(href="/frais/fraisAnnexes", type="button")
               input(type="submit", value="Valider")

            a(href="/frais/", type="button")
               input(type="submit", value="Retour")