extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous verifiez les frais de deplacement effectué
        .page-header


        .lead
            form.form-horizontal(action="/frais/fraisAnnexes", method="post")
                h1 Vérifiez vos informations :
                p Motif du trajet : #{motif}
                p Trajet : #{villeD} à #{villeA}
                p Kilométrage : #{kiloM}
                p Le coût est estimé à : #{cout}

                div
                    input(hidden type = text, name = "M", value = motif)
                    input(hidden type = text, name = "vD", value = villeD)
                    input(hidden type = text, name = "vA", value = villeA)
                    input(hidden type = number, name = "kl", value = kiloM)
                    input(hidden type = number, name = "c", value = cout)
                    input(hidden type = date, name = "date", value = date)

                input(type="submit", value="Valider")

            a(href="/frais/", type="button")
                input(type="submit", value="Retour")